!src/
!manage.py
!requirements.txt
!entrypoint.sh
!static/
!media/
!seu_projeto/

**/__pycache__/
**/*.py[cod]
**/*.swp
**/.env
**/.venv
**/venv/
**/env/
**/node_modules/
**/.git/
**/.github/
**/.gitignore
**/.dockerignore
**/db.sqlite3
**/logs/
**/*.log
**/tmp/
**/dist/
**/build/
**/*.md
**/docker-compose.yml
**/Dockerfile*
**/README.md
**/LICENSE
**/.vscode/
**/.idea/
**/Thumbs.db
**/.DS_Store